.outlet-container {
    min-height: calc(100svh - 64px);
}

img, button {
    user-select: none;
    -webkit-user-select: none;
    /* For Safari */
    -ms-user-select: none;
    /* For IE/Edge */
}


.auto-complete-item {
    >span:last-child {
        display: none;
    }
}

.popover-app,
.popover-app>div {
    max-height: 50svh !important;
}

.text-xxs {
    font-size: 9px;
}

.transition-ease {
    transition: all 200ms ease-in-out;
}

.transition-linear {
    transition: all 300ms linear;
}


// Overview
.overview-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.star-rating {
    position: relative;
    display: inline-block;
    line-height: 1;
}

.star-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
}


// Images
.images-grid {
    display: flex;

}