
.popover-app,
.popover-app>div {
    max-height: 50svh !important;
}

.transition-ease {
    transition: all 0.2s ease-in-out;
}

.text-xxs {
    font-size: 9px;
}

*{
    line-height: normal;
}


// STAR RATING
.star-rating {
    position: relative;
    display: inline-block;
    line-height: 1 !important;
}
.star-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
}


@media screen and (min-width: 1040px) {
   .lg-p-0 {
        padding: 0 !important;
    }
}


// Videos
.video-grid {
    display: grid;
}
